@model List<CourseBookUnitWord>

<h1>Practice</h1>
<hr>

<div class="card">
    <div class="card-body">
        <div class="card text-center">
            <div class="card-body">
                <h1 class="card-title">@Model[0].English</h1>
                <div class="d-flex align-items-center flex-column">
                    <div class="mb-auto p-2">
                        <button class="btn btn-primary" name="@Model[0].Uzbek" style="width: 300px;" onclick="check('@Model[0].Uzbek', '@Model[0].Uzbek', this)">
                            <h5>
                                @Model[0].Uzbek
                            </h5>
                        </button>
                    </div>
                    <div class="p-2">
                        <button class="btn btn-primary" name="@Model[1].Uzbek" style="width: 300px;" onclick="check('@Model[0].Uzbek', '@Model[1].Uzbek', this)">
                            <h5>
                                @Model[1].Uzbek
                            </h5>
                        </button>
                    </div>
                    <div class="p-2">
                        <button class="btn btn-primary" name="@Model[2].Uzbek" style="width: 300px;" onclick="check('@Model[0].Uzbek', '@Model[2].Uzbek', this)">
                            <h5>
                                @Model[2].Uzbek
                            </h5>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end mt-4">
            <a href="#" class="btn btn-primary">Next</a>
        </div>
    </div>
</div>


<script>
    function check(vocab, chosen, get)
    {
        if(vocab === chosen)
        {
            get.style.backgroundColor = 'green';
            console.log('True');
        }
        else
        {
            get.style.backgroundColor = 'red';
            console.log('False');
        }
    }
</script>
